<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197472291384-8i45iaao7dshfmf9cbonao8a4516p0un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197472291384-8i45iaao7dshfmf9cbonao8a4516p0un</string>
	<key>API_KEY</key>
	<string>AIzaSyBYxvE0DdfeeqonGxVLzIVwYEOkg62uEBw</string>
	<key>GCM_SENDER_ID</key>
	<string>197472291384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EkaterinaPolupanova.PSYiary</string>
	<key>PROJECT_ID</key>
	<string>psyiary</string>
	<key>STORAGE_BUCKET</key>
	<string>psyiary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197472291384:ios:3fbc08231b900fe99af4cd</string>
	<key>DATABASE_URL</key>
	<string>https://psyiary-default-rtdb.firebaseio.com</string>
</dict>
</plist>